.app {
  margin: 0;
  padding: 0;
  align-items: center;
  justify-content: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.gameboard {
  height: 300px;
  width: 300px;
  border: solid 1px black;
  align-items: center;
  display: flex;
  flex-wrap: wrap;

}

.cell {
  height: 100px;
  width: 100px;
  border: solid 2px black;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  display: flex;

}

.circle {
  height: 90px;
  width: 90px;
  border-radius: 50%;
  box-sizing: border-box;
  border: 15px solid gray
}

.cross {
  height: 90px;
  width: 90px;
  position: relative;
  transform: rotate(45deg);
}

.cross::before, .cross::after {
  content: "";
  position: absolute;
  background-color: crimson;

}

.cross::before {
  left: 50%;
  width: 30%;
  margin-left: -15%;
  height: 100%;
}

.cross::after {
  top: 50%;
  height: 30%;
  margin-top: -15%;
  width: 100%;
}